@font-face {
    font-family: "ikorma";
    src: url("../fonts/Ikorma.ttf");
}
.top-margin{
	margin-top: 5px;
}
.navbar-default {
  background-color: #4f4f4f;
  border-color: #4f4f4f;
  margin-bottom: 0;
}
.navbar-default .navbar-brand {
  color: #b8b8b8;
}
.navbar-default .navbar-brand img{
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b4b4b4;
}
.navbar-default .navbar-text {
  color: #b8b8b8;
}
/*PERONAL*/
.navbar-default .navbar-nav > li > a {
  color: #b8b8b8;
  font-family: "ikorma";
  font-size: 1.5em;
}
/*PERONAL*/
.navbar-default .navbar-nav{
	text-align: center;

}
/*PERONAL*/
.navbar-default .navbar-nav > li > a >.compact {
	display: inline-block;
}
/*PERONAL*/
.navbar-default .navbar-nav > li > a >.compact .primero, .navbar-default .navbar-nav > li > a >.compact .segundo{
	display:inline;
	font-size: 2rem;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;

}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #b8b8b8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-toggle {
  border-color: #4f4f4f;
  margin-top: 28px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4f4f4f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b8b8b8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b8b8b8;
}
.navbar-default .navbar-link {
  color: #b8b8b8;
}
.navbar-default .navbar-link:hover {
  color: #b4b4b4;
}
.navbar-default .navbar-header{
	height: 100px;
}	
/*PERSONAL*/
body header .lista{
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	background: rgb(79,79,79);
	z-index: 10;
	overflow: hidden;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a {
	  padding-top: 0;
	  padding-bottom: 0;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav > li > .centrar{
		margin-top: 12px;
		padding: 5px 20px
	}
	/*PERONAL*/
	.navbar-default .navbar-nav{
		margin-top: 25px;
		border-left: solid rgb(239,239,239) 1.3px;
		border-right: solid rgb(239,239,239) 1.3px;
		margin-left: 5px;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a >.compact {
		display: inline-block;
		text-align: center;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a >.compact .primero, .navbar-default .navbar-nav > li > a >.compact .segundo{
		display:block;
		font-size: 2rem;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		margin-top: 0px;
	}
	body header .lista{
		position: inherit;
		padding: auto;
	}
	.navbar-default .navbar-nav > li > a {
	  line-height: 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a {
	  margin-left: 28px;
	}
	.navbar-default .navbar-nav{
		margin-left: 80px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a {
	  margin-left: 60px;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav{
		padding-right: 60px;
		margin-left: 110px;
	}
}
