body{
	font-size: 16px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: rgb(79,79,79);
	z-index: 300;
}
.shapes-container{
	position: fixed;
	width: 100%;
	height: calc(100% - 102px);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: rgb(107,107,107);
	margin-top: -15px;
	z-index: 1;
	right: -200%;
	bottom: 0;
	overflow-y: auto;
}
.shapes-container ul > li{
	width:calc(20% - 10px);
	padding-bottom:calc(20% - 10px);
	margin:1px;
	border:1px solid rgba(0, 0, 0, 0.2);
	display:inline-block;
	background-size: contain;
	background-repeat:no-repeat;
	background-position:center center;
	background-color:#fff;
	
	/*QUITAR*/
	background-image: url("../img/uniques/1/1.png");

	min-width:100px;
	min-height: 100px;

}
.shapes-container p, .colors-container p, .layers-container p{
	font-family: "ikorma";
	text-align: center;
	font-size: bold;
	color: #fff;
	font-size: 1.3em;
	border-bottom: solid 1.5px; 

}
.colors-container{
	position: fixed;
	width: 40%;
	height: 100%;
	background: rgb(107,107,107);
	margin-top: -15px;
	z-index: 1;
	right: -200%;
	bottom: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 0 5px;
	text-align: left;
}
.colors-container ul{
	margin: 0;
	padding: 0;
}
.colors-container ul > li{
	list-style: none;
	width:20px;
	height:20px;
	display:inline-block;
	margin:2px;
	border:1px solid rgb(255,255,255);

	/*QUITAR*/
	background: navy;
}
.layers-container{
	position: fixed;
	width: 40%;
	height: 100%;
	background: rgb(107,107,107);
	margin-top: -15px;
	z-index: 1;
	right: -200%;
	bottom: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding: 0 5px;
	overflow-y: auto; 
}
.layers-container ul{
	padding:0;
	width:100%;
	border: solid rgb(160,160,160) 1.5px;
}
.layers-container ul > li{
	list-style: none;
	font-family: "ikorma";
	color: #fff;
	width:100%;
	height:50px;
	line-height: 40px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	background:rgb(160, 160, 160);
	margin-bottom: 10px;
}
.layers-container ul > li > img{
	height:100%;
	width:auto;
	float:left;
	border:1px solid #909090;
}
.layers-container ul > li > i{
	float:right;
	margin-right:5px;
	font-size:1.2em;
	line-height: 40px;
	color: rgb(79,79,79);
}
.layers-container ul > li > p{
	font-family: "ikorma";
	color: #fff;
	position:absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size:0.9em;
	border: none;
}

.show{
	right: 0;
}
body .center  .menu > a, body .center .menu .dropdown-mine > a{
	display: inline-block;
	width: 32%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0.75;
}
body .center  .menu > a:hover, body .center .menu .dropdown-mine > a:hover{
	opacity: 1;
}
.dropdown-mine{
	display: inline;
}
.dropdown-menu-mine{
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 2;
	background: rgb(79,79,79);
	padding: 0;
	display: none;
	border: solid #fff 1px;
}
.dropdown-menu-mine li{
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.dropdown-menu-mine li, 
body .center .menu{
	padding: 0;
}
.dropdown-menu-mine li:hover, .dropdown-menu-mine li:hover{
	background: rgba(0,0,0,0.4);
}
.dropdown-menu-mine li a:hover, .dropdown-menu-mine li a:active{
	text-decoration: none;
}
body .center .menu li{
	list-style: none;
	text-align: center;
	text-align: -webkit-center;
}
body .center .menu li a{
	display: block;
	font-family: "Ikorma";
	font-weight: bold;
	color: #b8b8b8;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-bottom: 13px;
	font-size: 1.2em;
}
body .center .canvas-container{
	position: relative;
	background: rgb(196,196,196) url("../img/myi/fondo.png") repeat;
	padding: 15px 0;
}
/*///////// ICONO DOWNLOAD//////////////////*/
body .center .canvas-container .download{
	position: absolute;
	right: 10px;
}
body .center .canvas-container .download span, body .center .canvas-container .share span{
	font-size: 1.7em;
}
.download span i:first-child{
	color: rgb(142,142,142);
}
.download span i:last-child{
	color: rgb(79,79,79);
}
/*///////// ICONO SHARE//////////////////*/
body .center .canvas-container .share{
	position: absolute;
	right: 10px;
	top: 80px;
}
.share span i:first-child{
	color: rgb(79,79,79);
}
.share span i:last-child{
	color: rgb(209,208,207);
}
/*///////// ICONO DELETE//////////////////*/
body .center .canvas-container .delete{
	position: absolute;
	right: 13px;
	bottom: 10px;
}
.delete div{
	border-radius: 100%;
	border: solid 1px rgb(79,79,79);
	background: rgb(209,208,207);
}
.delete div span{
	font-size: 1.4em;
}
.delete div span i:first-child{
	color: rgb(209,208,207);
}
.delete div span i:last-child{
	color: rgb(79,79,79);
	font-size: 1.7em;
}
.send{
	top: 140px;
}
body .center canvas{
	background: #fff;
	box-shadow: 8px 8px 4px rgb(122,122,122);
	width: 60%;
	height: auto;
	margin-left: 6%;
}

body footer{
	padding: 5px 0;
	padding-left: 5px;
	position: relative;
	bottom:0;
	width: 100%;
}

body footer .copy{
	font-size: 12px;
	color: rgb(175,175,175);
	line-height: 40px;
	display: inline-block;
}
body footer .copy p{
	display: inline-block;
}
body footer .social{
	float: right;
	margin-right: 2%;
}
.social span{
	font-size: 1.4em;
}
.social span i:first-child{
	color: rgb(175,175,175);
}
.social span i:last-child{
	color: rgb(79,79,79);
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	body .center .menu a{
		width: 30%;
	}
	body .center .canvas-container{
		text-align: center;
	}
	body .center canvas{
		margin-left: 0;
	}
	body .center .menu{
		padding-left: 15%;
	}
	body .center{
		padding: 0 10px;
	}
	body .center .canvas-container .download span, body .center .canvas-container .share span{
		font-size: 2em;
	}
	body footer .social{
		margin-right: 8%;
	}
	.delete div span{
		font-size: 1.7em;
	}
	.delete div span i:last-child{
		font-size: 1.7em;
	}
	body footer{
		padding: 5px 0;
		padding-left: 5px;
		position: relative;
	}
	body .center .menu li a{
		margin-bottom: 18px;
		font-size: 1.5em;
	}
	.colors-container, .layers-container{
		width: 35%;
		height: calc(100% - 178px);
	}
	.shapes-container{
		height: calc(100% - 178px);
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	body .center .canvas-container .download:hover > span > i:first-child{
		color: rgb(118,118,118);
	}
	body .center .canvas-container .download:hover > span > i:last-child{
		color: rgb(65,65,65);
	}
	body .center .canvas-container .share:hover > span > i:first-child{
		color: rgb(103,103,103);
	}
	body .center .canvas-container .share:hover > span > i:last-child{
		color: rgb(236,236,236);
	}
	body .center .canvas-container .delete:hover > div{
		background: rgb(176,175,174);
	}
	body .center .canvas-container .delete:hover > div span i:first-child{
		color: rgb(176,175,174);
	}
	body .center .canvas-container .delete:hover > div span i:last-child{
		color: rgb(63,63,63);
	}
	body footer .social span{
		font-size: 1.6em;
	}
	body footer .social:hover > span i:first-child{
		color: rgb(221,221,221);
	}
	body .center canvas{
		width: 40%;
	}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body header{
		margin-left: 60px;
	}
	body .center{
	padding-right: 50px;
	}
	body .center canvas{
		width: 40%;
	}
	body .center .canvas-container{
		padding: 15px 0;
		margin: 0;
	}
	body .center .menu{
		padding-left: 0;
	}
	body .center{
		padding: 0;
	}
	body footer .copy{
		margin-left: 10%;
		font-size: 15px;
	}
	body footer{
		margin-top: 20px;
	}
	body footer .social{
		margin-right: 10%;
		margin-left: 30px;
	}
	body .center  .menu > a, body .center .menu .dropdown-mine > a{
		width: 100%;
		margin-bottom: 70px;
		display: block;
		margin-left: 20%;
	}
	.dropdown-mine{
		display: inline;
	}
	.dropdown-menu-mine{
		left: 100%;
		top: 0;
	}
	.shapes-container{
		width: 83.33333333%;
		height: calc(100% - 102px);
	}
	.colors-container, .layers-container{
		width: 28%;
		height: 100%;
	}
}