@font-face {
    font-family: "ikorma";
    src: url("../font/Ikorma.ttf");
}
header{
	width: 95%;
	margin: 0 auto;
}
.navbar-default {
  background-color: #4f4f4f;
  border-color: #4f4f4f;
}
.navbar-default .navbar-brand {
  color: #b8b8b8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b4b4b4;
}
.navbar-default .navbar-text {
  color: #b8b8b8;
}
/*PERONAL*/
.navbar-default .navbar-nav > li > a {
  color: #b8b8b8;
  font-family: "ikorma";
  font-size: 1.3em;
  font-weight: 150px;
  padding-bottom: 20px;
}
/*PERONAL*/
.navbar-default .navbar-nav{
	border-left: solid rgb(199,199,199) 2px;
	border-right: solid rgb(199,199,199) 2px;
	text-align: center;

}
/*PERONAL*/
.navbar-default .navbar-nav > li > a >.compact {
	display: inline-block;
}
/*PERONAL*/
.navbar-default .navbar-nav > li > a >.compact .primero, .navbar-default .navbar-nav > li > a >.compact .segundo{
	display:inline;
	font-size: 2rem;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(91,91,91);
  background: rgb(180,180,180);
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #b8b8b8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b4b4b4;
  background-color: #4f4f4f;
}
.navbar-default .navbar-toggle {
  border-color: #4f4f4f;
  margin-top: 28px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4f4f4f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b8b8b8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b8b8b8;
  margin-top: 50px;
}
.navbar-default .navbar-link {
  color: #b8b8b8;
}
.navbar-default .navbar-link:hover {
  color: #b4b4b4;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a {
	  padding-top: 0;
	  padding-bottom: 0;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav > li > .centrar{
		margin-top: 12px;
		padding: 5px 20px
	}
	/*PERONAL*/
	.navbar-default .navbar-nav{
		margin-top: 20px;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a >.compact {
		display: inline-block;
		text-align: center;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a >.compact .primero, .navbar-default .navbar-nav > li > a >.compact .segundo{
		display:block;
		font-size: 2rem;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		margin-top: 0px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a {
	  margin-left: 28px;
	}
	.navbar-default .navbar-nav{
		margin-left: 80px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/*PERONAL*/
	.navbar-default .navbar-nav > li > a {
	  margin-left: 60px;
	}
	/*PERONAL*/
	.navbar-default .navbar-nav{
		padding-right: 60px;
		margin-left: 110px;
	}
}
