@font-face {
    font-family: "ikorma";
    src: url("font/Ikorma.ttf");
}
body{
	font-size: 16px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	background: rgb(79,79,79);
}
body .center{
	margin-top: 40px;
}

body .center ul a{
	display: inline-block;
	width: 32%;
}
body .center ul{
	padding: 0;
}

body .center .canvas-container{
	background: rgb(196,196,196);
	padding: 15px 0;
	margin-right: 10px;
}
body .center .canvas-container .download{
	position: absolute;
	right: 10px;
	width: 45px;
	height: 45px;
}
body .center .canvas-container .share{
	position: absolute;
	right: 10px;
	top: 80px;
	width: 45px;
	height: 45px;
}
body .center .canvas-container .delete{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 45px;
	height: 45px;
}
body .center .canvas{
	background: #fff;
	margin-left: 15px;
	width: 70%;
	padding-top: 100%;
	box-shadow: 8px 8px 4px rgb(122,122,122);
}

body footer{
	padding: 5px 0;
	padding-left: 5px;
}

body footer .copy{
	font-size: 12px;
	color: rgb(175,175,175);
	line-height: 40px;
	display: inline-block;
}
body footer .copy p{
	display: inline-block;
}
body footer .social{
	float: right;
	width: 42px;
	height: 42px;
	margin-right: 2%;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	body .center ul a{
		width: 30%;
	}
	body .center .canvas{
		width: 85%;
	}
	body .center ul{
		padding-left: 15%;
	}
	body .center{
		padding: 0 10px;
	}
	body footer .social a{
		margin-right: 40px;
	}
	body .center .canvas-container .download,
	body .center .canvas-container .share,
	body .center .canvas-container .delete{
		width: 50px;
		height: 50px;
	}
	body .center .canvas{
		width: 65%;
		padding-top: 70%;
		margin: 0 auto;
	}
	body footer .social{
		margin-right: 8%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body .center ul a{
		-ms-transition: all ease;
		-o-transition: all ease;
		-webkit-transition: all ease;
		transition: all ease;
	}
	body .center ul a:hover{
		-ms-transform: scale(1.1);
	    -webkit-transform: scale(1.1);
	    transform: scale(1.1);
	}
	body .center .canvas-container .download{
		-ms-transition: all ease;
		-o-transition: all ease;
		-webkit-transition: all ease;
		transition: all ease;
		-ms-transform: scale(0.9,0.9);
	    -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
	}
	body .center .canvas-container .share{
		-ms-transition: all ease;
		-o-transition: all ease;
		-webkit-transition: all ease;
		transition: all ease;
		-ms-transform: scale(0.9,0.9);
	    -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
	}
	body .center .canvas-container .delete{
		-ms-transition: all ease;
		-o-transition: all ease;
		-webkit-transition: all ease;
		transition: all ease;
		-ms-transform: scale(0.9,0.9);
	    -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
	}
	body .center .canvas-container .share:hover, body .center .canvas-container .download:hover, body .center .canvas-container .delete:hover{
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
	body footer .social{
		-ms-transition: all ease;
		-o-transition: all ease;
		-webkit-transition: all ease;
		transition: all ease;
		-ms-transform: scale(0.9,0.9);
	    -webkit-transform: scale(0.9,0.9);
	    transform: scale(0.9,0.9);
	}
	body footer .social:hover{
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
	body .center .canvas-container .download,
	body .center .canvas-container .share,
	body .center .canvas-container .delete{
		width: 58px;
		height: 58px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body header{
		margin-left: 60px;
	}
	body .center{
	padding-right: 50px;
	}
	body .center ul a{
		width: 100%;
		margin-bottom: 70px;
		display: block;
		margin-left: 20%;
	}
	body .center .canvas-container .download{
		position: absolute;
		right: 10px;
	}
	body .center .canvas-container .share{
		position: absolute;
		right: 10px;
		top: 80px;
	}
	body .center .canvas-container .delete{
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	body .center .canvas{
		width: 40%;
		padding-top: 45%;
		margin: 0 auto;
	}
	body .center .canvas-container{
		padding: 15px 0;
		margin: 0;
	}
	body .center ul{
		padding-left: 0;
	}
	body .center{
		padding: 0;
	}
	body footer .copy{
		margin-left: 10%;
		font-size: 15px;
	}
	body footer{
		margin-top: 20px;
	}
	body footer .social{
		margin-right: 10%;
		margin-left: 30px;
	}
}