#body1{
	background: #03060A;
}

.fb-login-button{
	background: #222222;
}

#fb-btn-id{
	display: inline-block;
	position: relative;
	margin-top: 15%;
}




#bloque-firma{
	margin-bottom: 2%;
}

#firma{
	margin-top: 1%;
}

#firma:hover{
	opacity: 0.9;
}



#img1:hover, #img2:hover, #img3:hover{
	opacity: 0.8;
}




.footer{
	margin-top: 2%;
	background-color: rgba(34,34,34,1);

}

#copyright{
	text-align: center;
	color: grey;
}

#footer-right{
	border-left: solid;
	border-left-width: 1px;
	border-left-color: white;
}

#footer-right p {
	color: grey;
}

#footer-left p {
	color: grey;
}

#footer-link{
	display: block;

}

#footer-link:hover{
	text-decoration: none;
	color:white;
}

