#body2{
	background: #03060A;
}

#fb-btn-id{
	display: inline-block;
	position: relative;
	margin-top: 15%;
}


.footer{
	margin-top: 2%;
	background-color: rgba(34,34,34,1);

}

#copyright{
	text-align: center;
	color: grey;
}

#footer-right{
	border-left: solid;
	border-left-width: 1px;
	border-left-color: white;
}

#footer-right p {
	color: grey;
}

#footer-left p {
	color: grey;
}

#footer-link{
	display: block;

}

#footer-link:hover{
	text-decoration: none;
	color:white;
}



#jumbotron{
	padding: 25%;
}
