body{
	margin: 0;
	padding: 0;
}
body .fondo2{
	z-index: -10;
	position: fixed;
	width: 100%;
	height: 100%;
}
.img-footer{
	opacity: 0.85;
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
}
body footer{
	position: fixed;
	bottom:0;
	width: 100%;
}
body footer .copy{
	font-size: 12px;
	color: rgb(175,175,175);
	display: inline-block;
	position: relative;
	top: 8px;
}
body footer .copy p{
	display: inline-block;
	color: #000;
}
body footer .social{
	float: right;
	margin-right: 2%;
}
.social span{
	font-size: 1.4em;
}
.social span i:first-child{
	color: rgb(73,73,73);
}
.social span i:last-child{
	color: rgb(215,204,190);
}
body header .lista{
	background: rgba(255,255,255,.5);
}
.navbar-default .navbar-nav > li > a{
	color: #000;
	font-size: 2em;
	font-weight: bold;
}
.navbar-mine{
	border:none;
	background: transparent;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.social span{
		font-size: 1.6em;
	}
	body footer .copy{
		font-size: 14px;
		margin-left: 5%;
		top: 13px;
	}
	body footer .social{
		margin-right: 6%;
	}
	body header .lista{
		background: transparent;
	}
	.navbar-default .navbar-nav > li > a{
		color: #b8b8b8;
		font-size: 1.5em;
		font-weight: normal;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 960px) {
	body footer .social:hover > span i:first-child{
		color: rgb(95,94,92);
	}
	body footer .social{
		margin-right: 8%;
	}
		
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body footer .copy{
		top: 17px;
	}
	body footer .social{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

